// Import Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom styles layer
@layer base {
  body {
    @apply font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

body {
  background-color: #f0f0f0;
}
